PKG="WAkannel-VERSION_NUMBER"
NAME="kannel"
ARCH="sparc"
VERSION="cvs"
CATEGORY="application"
VENDOR="Kannel project"
EMAIL="andreas@fink.org"
PSTAMP="Andreas Fink"
BASEDIR="/usr/local"
CLASSES="none"
