i pkginfo=./pkginfo
f none kannel/bin/wmlsc-VERSION_NUM 0755 bin bin
f none kannel/bin/wmlsdasm-VERSION_NUM 0755 bin bin
f none kannel/bin/seewbmp-VERSION_NUM 0755 bin bin
f none kannel/sbin/bearerbox-VERSION_NUM 0755 bin bin
f none kannel/sbin/smsbox-VERSION_NUM 0755 bin bin
f none kannel/sbin/wapbox-VERSION_NUM 0755 bin bin
f none kannel/sbin/run_kannel_box-VERSION_NUM 0755 bin bin
f none kannel/man/man1/seewbmp.1 0755 bin bin
f none kannel/man/man1/wmlsc.1 0755 bin bin
f none kannel/man/man1/wmlsdasm.1 0755 bin bin
f none kannel/man/man8/kannel.8 0755 bin bin
f none kannel/man/man8/run_kannel_box.8 0755 bin bin
f none etc/kannel.conf 0664 bin bin
